:root {
    --primary-color: #252a25;
    --secondary-color: #3F444B;
    --accent-color: #ED5A11;
    --border-color: #252a2590;
}

body {
    background-color: white;
    background-image: url(../../images/sfs-logo.png);
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

h1,
h2,
h3 {
    font-family: 'Unbounded', cursive;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 30px;
    color: var(--secondary-color);
}

h3 {
    font-size: 25px;
    color: var(--secondary-color) text-align: left;
    margin-top: 60px;
}

.hero-wrapper {
    display: block;
    margin: auto 0;
    margin: 75px 150px;
}

.main-content {
    margin-top: 100px;
    margin-bottom: -40px;
}

.social-icon {
    position: relative;
}

.footer-icon {
    width: 45px;
    margin: 0 7px;
}

.social-icon img {
    display: block;
    width: 40px;
    margin: 0 7px;
}

.social-icon .nav-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.social-icon:hover .nav-hover {
    opacity: 1;
}

.hero-social {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nav-link {
    line-height: 25px;
    margin-right: 30px;
    font-size: 20px;
}

.nav-link:hover {
    color: var(--accent-color);
}

.hero-image-homepage {
    border-radius: 100%;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.primary-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.primary-link:hover {
    color: var(--accent-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    color: var(--accent-color);
}

.dropdown {
    position: relative;
    display: block;
    margin: 0 auto 70px;
}

.dropdown-content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s;
}

.dropdown-content a {
    opacity: 1;
    color: black;
    padding: 25px 10px;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
    color: var(--accent-color);
    background: whitesmoke;
    transition: opacity .2s;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    display: inline-block;
}

@media(max-width: 576px) {
    .main-content {
        margin-top: 100px;
        margin-bottom: -40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 20px;
        text-align: left;
    }

    p {
        text-align: left;
    }

    .primary-link {
        display: block;
        text-align: center;
        margin: 0 25px;
    }

    .email-link {
        font-size: 20px;
    }

    .dropdown {
        margin: 0 auto 90px;
    }

    .dropdown-content a {
        inline-size: 150px;
        overflow-wrap: break-word;
    }
}