body {
    margin: 0 150px;
}

h1,
h2,
h3 {
    font-family: 'Unbounded', cursive;
}

p {
    font-family: 'Poppins', sans-serif;
}

.nav-social {
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.nav-link {
    line-height: 16px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #ED5A11;
}